<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ash's Side Piece's Crib</title>
</head>

<body>
    <style>
        body{
            background-image: url(http://pa1.narvii.com/5740/78bb4bae24938468a6a0b6cbdb7224beae3b7b95_00.gif);
            background-repeat: no-repeat;
            background-size: cover;
        }
    </style> 

<h2>👻 POKEMON CREATOR 👻</h2>
    <form action="/pokemon" method="POST">
 <h4>   
     <!-- <------Pokemon Name & Stats (POST)-------> -->
        Name &#9758; <input type="text" name="name" %>" /><br />
        Type &#9758; <input type="text" name="type" %>" /><br />
        Health Points &#9758; <input type="text" name="stats.hp" %>" /><br />
        Attack &#9758; <input type="text" name="stats.attack" %>" /><br />
        Defense &#9758; <input type="text" name="stats.defense" %>" /><br />
        Speed &#9758; <input type="stats.speed" name="type" %>" /><br /> 
        SA &#9758; <input type="stats.spattack" name="type"  %>" /><br />  
<h4>
    <input type="submit" name="" value="Submit Changes" /> <br/>
    </form>
</body>
</html>